:root {
    --purple: #6a1e53;
    --black: #333;
    --white: white;
    --light-pink: #fff7f8;
    --pink: #e36b7c;
}

.login-hero {
    width: 100%;
    min-height: 100vh;
    padding-top: 85px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../assets/img/cadastro_background.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.login .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.login-content {
    width: 90%;
    max-width: 1400px;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 80px;
}

.login-card {
    width: 100%;
    max-width: 480px;
    background: #f5c9cf;
    border-radius: 20px;
    box-shadow: #e36b7c;
    padding: 36px 50px;
    width: 560px;
    color: var(--purple);
}

.card {
    background-color: #f5c9cf;
    border-radius: 20px;
    box-shadow: #e36b7c;
    padding: 36px 50px;
    width: 560px;
    color: var(--purple);
}

.login-card h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 24px;
    color: var(--purple);
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card label {
    font-size: 15px;
    font-weight: 600;
    color: var(--purple);
    margin-bottom: 8px;
}

.login-card input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid var(--purple);
    margin-bottom: 22px;
    margin-top: 6px;
    text-align: center;
    outline: none;
}

.botao {
    display: block;
    width: fit-content;
    margin: 8px auto 0;
    padding: 10px 34px;
    background: #fff7f8;
    color: var(--purple);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
}

.botao:hover {
    opacity: 0.85;
}

.botao:active {
    transform: scale(0.97);
}

.loading-div {
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login{
    display: none;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 15px;
    color: #5b0b3b;
    font-size: 18px;
}

.alerta_erro {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.card_erro {
    display: none;
    width: 280px;
    padding: 16px;
    position: fixed;
    top: 100px;
    right: 30px;
    z-index: 2000;
    background: rgba(255, 247, 248, 0.95);
    border: 2px solid var(--pink);
    border-radius: 18px;
}

.card_erro #mensagem_erro {
    color: var(--purple);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
}